body{
    background-color: grey;
}

.A{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    height: 20%;
    width: 40%;
    border: 5px solid orange;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-weight: 700;
    font-style: italic;
    font-size: 32;
    color: maroon;
    text-shadow: 2px 2px 2px;
    position: relative;
    left: 30%;

}
.z{
    border: 10px solid green;
    height:100%;
    width: 98%;

}
.B{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    height: 35%;
    width: 17%;
    border: 5px solid orange;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-weight: 700;
    font-style: italic;
    font-size: 24;
    color: black;
    text-shadow: 2px 2px 2px;
    position: relative;
    top: 5px;
    left: 5px; 
}
.C
{
    background-color: white;
    border-radius: 20px;
    height: 35%;
    width: 17%;
    border: 5px solid orange;
    box-shadow: 10px 10px 5px #aaaaaa;
    text-shadow: 2px 2px 2px;
    position: relative;
    left: 78%;
    top: -35%;
    background-image:url(aa.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 16px 40px ;
    
}
.D{
    background-color: white;
    text-align: left;
    border-radius: 20px;
    height: 35%;
    width: 17%;
    border: 5px solid orange;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-weight: 700;
    font-style: italic;
    font-size: 24;
    color: black;
    text-shadow: 2px 2px 2px;
    position: relative;
    top: -75px;
    left: 5px; 
}
.E{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    height: 40%;
    width: 17%;
    border: 5px solid orange;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-weight: 700;
    font-style: italic;
    font-size: 24;
    color: maroon;
    text-shadow: 2px 2px 2px;
    position: relative;
    top: -400px;
    left: 78%; 
}
.F{
    background-color: lightgreen;
    
    border-radius: 20px;
    height: 17%;
    width: 44%;
    border: 5px solid orange;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-weight: 900;
    font-style: italic;
    font-size: 26;
    color: maroon;
    position: fixed;
    /* left: 27%;
    top: -30%;
    right: 0px;*/
    bottom: 0px; 
     z-index: +1;
     margin-left: 380px;
     margin-bottom: 5%;
}

.G{
    text-align: center;
    background-color: green;
    width: 60%;
    height: 90%;
    border: 10px solid purple;
    position: relative;
    left: 20%;

}
.G1{
    background-color: palegreen;
    width: 40%;
    height: 35%;
    font-style: italic;
    font-weight: 800;
    position: relative;
    left: 2%;
    top: 4%;

}
.G2{
    background-color: palegreen;
    width: 40%;
    height: 35%;
    font-style: italic;
    font-weight: 800;
    position: relative;
    left: 58%;
    top: -35%;

}
.G3{
    background-color: palegreen;
    width: 100%;
    height: 35%;
    font-style: italic;
    font-weight: 800;
    position: relative;
    top: -30%;

}